@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
body {
  /* max-width: 600px;
  margin: 0 auto;
  padding: 5vw; */
  font-family: Lora!important;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}